<% layout("/layouts/boilerplate")%>
<body>
    <H2>ALL LISTINGS</H2>
    <!-- <form action="/listings/new" method="GET">
        <button>Create New Listing</button>
    </form> -->
    <ul>
        <% for(let listing of allListings){ %>
            <li><a href="/listings/<%= listing._id %>"> <%= listing.title %></a></li>
        
    <% } %>
    </ul>
</body>

